<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dataTables.bootstrap4.min.css') }}">
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.dataTables.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/dataTables.bootstrap4.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/login.js') }}"></script>
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-success">
      <a class="navbar-brand" href="{{ url_for('app.home') }}">RouterManager</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item" id="ip_manager">
            <a class="nav-link" href="{{ url_for('app.route_manager') }}">Gerenciar IPs</a>
          </li>
          <li class="nav-item" id="user_manager">
            <a class="nav-link" href="{{ url_for('app.user_manager') }}">Gerenciar Usuários</a>
          </li>
          <li class="nav-item" id="log_manager">
            <a class="nav-link" href="{{ url_for('app.log_manager') }}">Logs</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="{{ url_for('login.logout') }}" method="POST">
          <button class="btn btn-success my-2 my-sm-0" type="submit">Logout</button>
        </form>
      </div>
    </nav>
    <div class="container">
        {% block content %} {% endblock %}
    </div>

  </body>
</html>